<div class="modal-header">
    <h5 class="modal-title">Detalles</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times</span>
    </button>
</div>
<div class="modal-body">
    <h5><strong>Nombre: </strong>{{ object.nombre }}</h5>
    <h5><strong>Apellido: </strong>{{ object.apellido }}</h5>
    <h5><strong>Teléfono: </strong>{{ object.telefono }}</h5>
    <h5><strong>Estado: </strong>{{ object.get_estado_display}}</h5>
</div>
